<footer>
    <div class="footer-buttons">
        <a href="https://github.com/Alyssaf21" class="footer-link">
            <i class="lni-github-original"></i>
        </a>
        <a href="mailto:a.c.fusato@gmail.com" class="footer-link">
            <i class="lni-envelope"></i>
        </a>
    </div>

    <div class="credits">
        <p class="icon-credits">
            Icons by LineIcons
        </p>
        <p class="site-credits">
            Designed and developed by yours truly
        </p>
    </div>
</footer>