<footer>
    <div class="content-wrapper" {% if page.url !="/" %}style="max-width:650px;" {% endif %}>
        <div class="site-info-section">
            <h5>Let's connect!</h5>
            <div class="contact-footer-section">
                {% include contact-links.html %}
                <hr>
            </div>
        </div>
        <div class="site-info-section">
            <a href="/" class="text-link font-bold">Home</a>
            <a href="/404" class="text-link font-bold">404</a>
            <!-- <a href="/demo" class="text-link font-bold">Layout Demo</a> -->
            <hr>
            <div class="label-1">Designed & developed by ⭐Team Alyssa⭐</div>
            <div class="site-sources">
                <div class="label-2">Hosted by GitHub |
                    <a href="https://github.com/alyssafusato/alyssafusato.github.io" target="_blank"
                        class="text-link">Site
                        Repository ↗</a>
                </div>
                <div class="label-2"> Icons by
                    <a href="https://lineicons.com/" target="_blank" class="text-link">
                        Lineicons</a>
                </div>
            </div>
        </div>
    </div>
</footer>