// Content color
@use "sass:color";
$primary: #101010;
$secondary: #101010b2;
$accent-primary: #085F82;
$accent-secondary: #0E86B6;
$accent-tertiary: #d7a93e;
$on-color: white;
$on-color-accent: #c6dde5;
// $accent-shadow: color.adjust($accent-secondary,
//         /* used on for box-shadow on cards */
//         $saturation: 10%,
//         $lightness: -6%,
//         $alpha: -0.75);
$accent-shadow:#14415363;

// Background color
$background-default: #E0EAEE;
$background-secondary: #c6dde5;
$background-void: white;
$surface-1: #EDF2F5;
$white-overlay-1: #ffffff9e;

$green-accent: hsl(129, 72%, 18%);
$green-accent-secondary: hsl(129, 81%, 31%);
$green-background-default: hsl(129, 29%, 91%);
$green-background-secondary: hsl(129, 39%, 84%);

$brown-accent: hsl(37, 52%, 26%);
$brown-accent-secondary: hsl(38, 36%, 42%);
$brown-background-default: hsl(37, 20%, 90%);
$brown-background-secondary: hsl(37, 30%, 84%);

:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --accent-primary: #{$accent-primary};
    --accent-secondary: #{$accent-secondary};
    --accent-tertiary: #{$accent-tertiary};
    --background-default: #{$background-default};
    --surface-1: #{$surface-1};
    --white-overlay-1: #{$white-overlay-1};
}

.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-accent-primary {
    color: $accent-primary;
}

.text-accent-secondary {
    color: $accent-secondary;
}

.text-accent-tertiary {
    color: $accent-tertiary;
}

.text-on-color {
    color: $on-color;
}

.text-on-color-accent {
    color: $on-color-accent;
}