// Content color
@use "sass:color";
$primary: #101010;
$secondary: #101010b2;
$accent-primary: #085F82;
$accent-secondary: #0E86B6;
$accent-tertiary: #d7a93e;
$on-color: white;
$on-color-accent: #c6dde5;
// $accent-shadow: color.adjust($accent-secondary,
//         /* used on for box-shadow on cards */
//         $saturation: 10%,
//         $lightness: -6%,
//         $alpha: -0.75);
$accent-shadow:#14415363;

// Background color
$background-default: #E0EAEE;
$background-secondary: #c6dde5;
$background-void: white;
$surface-1: #EDF2F5;
$white-overlay-1: #ffffff9e;

$green-accent: #4b641f;
$green-accent-secondary: #6e9629;
$green-background-default: hsl(81, 16%, 92%);
$green-background-secondary: #d3ddc3;

// $brown-accent: hsl(37, 52%, 26%);
// $brown-accent-secondary: hsl(38, 36%, 42%);
// $brown-background-default: hsl(37, 20%, 90%);
// $brown-background-secondary: hsl(37, 30%, 84%);

$yellow-accent: #755b0d;
$yellow-accent-secondary: #C89B13;
$yellow-background-default: hsl(52, 16%, 91%);
$yellow-background-secondary: #e4dfc6;

$darkblue-accent: #4358AC;
$darkblue-accent-secondary: #6B7FD0;
$darkblue-background-default: #E4E6EE;
$darkblue-background-secondary: #D1D6EB;


:root {
    --primary: #{$primary};
    --secondary: #{$secondary};
    --accent-primary: #{$accent-primary};
    --accent-secondary: #{$accent-secondary};
    --accent-tertiary: #{$accent-tertiary};
    --background-default: #{$background-default};
    --surface-1: #{$surface-1};
    --white-overlay-1: #{$white-overlay-1};
}

.text-primary {
    color: $primary;
}

.text-secondary {
    color: $secondary;
}

.text-accent-primary {
    color: $accent-primary;
}

.text-accent-secondary {
    color: $accent-secondary;
}

.text-accent-tertiary {
    color: $accent-tertiary;
}

.text-on-color {
    color: $on-color;
}

.text-on-color-accent {
    color: $on-color-accent;
}