// Definitions for font families and text properties, including text size

@import "color";
@import "spacing";

@font-face {
  font-family: 'Mona Sans';
  src:
    url('../fonts/MonaSansVF.woff2') format('woff2 supports variations'),
    url('../fonts/MonaSansVF.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  src:
    url('../fonts/BricolageGrotesqueVF.woff2') format('woff2 supports variations'),
    url('../fonts/BricolageGrotesqueVF.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 100%;
}

$body:
  "Inter",
  ui-sans-serif,
  -apple-system,
  system-ui,
  Segoe UI,
  Helvetica,
  Apple Color Emoji,
  Arial,
  sans-serif;

$heading: "Mona Sans",
  "Inter",
  ui-sans-serif,
  -apple-system,
  system-ui,
  Segoe UI,
  Helvetica,
  Apple Color Emoji,
  Arial,
  sans-serif;

$display: "Bricolage Grotesque",
  "Mona Sans",
  "Inter",
  ui-sans-serif,
  -apple-system,
  system-ui,
  Segoe UI,
  Helvetica,
  Apple Color Emoji,
  Arial,
  sans-serif;

$monospaced: "Geist Mono",
  ui-monospace,
  SFMono-Regular,
  SF Mono,
  Menlo,
  Consolas,
  Liberation Mono,
  monospace;

$line-height-body: 150%;
$line-height-display: 120%;

$h1-size: 56px;
$h2-size: 54px;
$h3-size: 40px;
$h4-size: 32px;
$h5-size: 26px;
$h6-size: 20px;
$body-xl-size: 24px;
$body-lg-size: 20px;
$p-font-size: 18px;
$small-font-size: 16px;
$label-1-size: 14px;
$label-2-size: 13px;

h1 {
  font-family: $heading;
  line-height: $line-height-display;
  font-size: $h1-size;
  font-weight: 800;
  font-variation-settings: "wdth" 120, "ital" 0;
}

h2 {
  font-family: $display;
  line-height: $line-height-display;
  font-size: $h2-size;
  font-weight: 700;
  font-variation-settings: "wdth" 86; //75-100
}

h3 {
  font-family: $heading;
  line-height: $line-height-display;
  font-size: $h3-size;
  font-weight: 700;
  font-variation-settings: "wdth" 104;
}

h4 {
  font-family: $heading;
  line-height: $line-height-display;
  font-size: $h4-size;
  font-weight: 600;
  font-variation-settings: "wdth" 84, "ital" 0;
}

h5 {
  font-family: $heading;
  line-height: $line-height-display;
  font-size: $h5-size;
  font-weight: 450;
  font-variation-settings: "wdth" 90, "ital" 0;
}

h6 {
  font-family: $display;
  line-height: $line-height-display;
  font-size: $h6-size;
  font-weight: 700;
}

.body-xl {
  font-family: $heading;
  line-height: $line-height-body;
  font-size: $body-xl-size;
  font-weight: 430;
  // font-variation-settings: "wdth" 105;
}

.body-large {
  font-family: $body;
  line-height: $line-height-body;
  font-size: $body-lg-size;
  font-weight: 450;
  letter-spacing: -0.2px;
}

p {
  font-family: $body;
  font-family: "Inter";
  line-height: $line-height-body;
  font-size: $p-font-size;
  font-weight: 400;
  // font-variation-settings: "wdth" 98;
}

small {
  font-family: $body;
  line-height: $line-height-body;
  font-size: $small-font-size;
  font-weight: 400;
}

.label-1 {
  font-family: $body;
  line-height: $line-height-body;
  font-size: $label-1-size;
  font-weight: 400;
}

.label-2 {
  font-family: $body;
  line-height: $line-height-body;
  font-size: $label-2-size;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.body-large,
p,
small,
label-1,
label-2 {
  margin: 0;
}

html {
  @extend p;
  color: $primary;
}

a {
  text-decoration: none;
}

// Override default font family ---------
.font-family-display {
  font-family: $display;
}

.font-family-body {
  font-family: $body;
}

.monospaced {
  font-family: $monospaced;
}

// Override default font weight ---------
.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

// Override Variable Font Width ---------
.font-width-narrow {
  font-variation-settings: "wdth" 80;
}

.font-width-regular {
  font-variation-settings: "wdth" 80;
}

.line-height-display {
  line-height: $line-height-display;
}

// Text Link Styles & Interaction -------
@mixin text-hover-underline {
  text-decoration: underline $accent-secondary wavy;
  text-decoration-color: $accent-tertiary;
  text-underline-offset: 20%;
}

.link-styling {
  color: $accent-primary;

  &:hover {
    color: $accent-secondary;
  }
}

.text-link {
  @extend .link-styling;

  &:hover {
    @include text-hover-underline();
  }
}

// Misc. Text Styles --------------------
.markup-circle {
  align-self: center;
  padding: $xl4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='889' height='122' preserveAspectRatio='none' viewBox='0 0 889 122' fill='none'%3E%3Cpath d='M878.342 74.4485C869.473 79.9512 856.412 84.2783 846.706 87.0348C843.513 87.9331 845.106 87.3913 843.019 87.9579C838.996 89.0381 834.818 90.1469 830.843 91.0619C829.474 91.3755 831.145 90.8361 829.707 91.1671C821.635 93.0135 814.145 94.6115 806.217 96.1029C766.362 103.469 726.921 107.924 686.16 111.542C672.611 112.733 656.344 113.829 642.471 114.854C640.839 114.975 641.823 115.084 641.514 115.119C636.656 115.672 638.204 115.211 635.084 115.37C622.595 116.005 608.65 116.782 596.477 117.465C591.383 117.75 596.516 117.868 591.362 117.913C591.004 117.916 592.293 117.654 590.888 117.701C587.707 117.808 581.626 118.123 579.122 118.215C574.285 118.394 573.578 118.426 569.059 118.608C562.919 118.853 555.441 119.027 548.897 119.292C547.487 119.35 549.363 119.502 547.113 119.614C544.864 119.727 538.871 119.897 536.838 119.905C534.807 119.914 535.666 119.717 535.306 119.688C532.347 119.444 525.507 120.086 524.607 120.12C508.322 120.733 494.409 120.715 479.244 120.89C467.717 121.024 455.572 121.188 444.555 121.188C444.464 121.188 444.373 121.188 444.282 121.188C431.099 121.182 420.07 120.999 407.305 120.893C405.964 120.881 407.531 121.184 405.894 121.17C388.473 121.021 371.088 120.67 353.816 120.002C352.063 119.934 354.33 119.735 352.58 119.651C341.881 119.155 325.096 118.038 318.735 118.94C311.642 118.621 302.705 118.19 296.349 117.653C292.225 117.305 296.266 117.205 291.167 117.083C290.003 117.054 291.502 117.386 289.757 117.322C282.377 117.053 274.628 116.553 267.327 116.264C265.854 116.207 266.242 116.463 265.823 116.481C262.296 116.618 256.56 115.701 255.315 115.58C245.697 114.666 238.691 114.305 229.722 113.638C227.626 113.481 230.079 113.982 228.063 113.842C217.702 113.117 206.852 112.201 196.863 111.157C194.6 110.92 196.715 110.836 195.627 110.708C190.821 110.141 189.715 110.558 185.181 110.011C184.227 109.896 184.789 109.713 184.617 109.671C181.928 109.002 179.543 109.343 178.831 109.284C169.688 108.538 164.379 107.361 155.57 106.441C154.537 106.332 156.827 106.9 153.929 106.577C134.64 104.425 114.292 101.577 95.3832 98.0992C92.4547 97.5587 94.5882 97.6927 94.4078 97.6332C91.4714 96.6802 89.52 96.9289 88.5261 96.7733C80.7481 95.539 73.9531 93.6731 68.6588 93.2648C55.8726 90.4222 43.1794 87.3208 30.7989 83.092C24.7327 80.9949 18.4504 78.5305 12.7397 75.3401C7.37373 72.1259 0.389 68.058 -0.000193 60.3813C0.496542 52.8442 7.32271 48.9717 12.632 45.9111C13.0049 45.7098 12.4859 46.3366 13.2308 45.9355C22.0878 41.5678 20.2507 42.1667 26.2076 39.1683C27.8443 38.382 32.5618 37.4684 33.0856 37.3601C34.7132 37.0153 33.2192 37.9654 33.7563 37.8258C38.279 36.6646 36.8189 35.5863 42.7847 33.8513C42.9722 33.8004 42.2603 34.2791 42.7686 34.1614C44.3988 33.783 45.7828 33.2926 47.2718 32.9866C50.6261 32.3133 52.3 32.5913 57.2398 30.9792C57.8949 30.7738 56.6333 30.2115 61.9406 29.0301C64.2465 28.4993 73.182 26.5817 76.0118 26.0921C78.6239 25.6278 76.8882 26.2393 77.0821 26.2123C84.0306 25.2108 81.4618 25.8621 85.0819 25.7027C88.7476 25.5468 87.5467 24.5318 88.9982 24.1313C90.3628 23.744 95.5211 23.1369 96.8321 23.0203C98.1272 22.9024 96.5594 23.3352 97.7066 23.1989C105.374 22.2985 100.981 22.0458 103.392 21.4567C108.981 20.0961 113.937 20.2571 119.161 19.5885C120.592 19.4061 119.396 19.3715 120.668 19.1696C125.669 18.3831 129.064 18.1981 134.661 17.2042C135.589 17.0387 140.203 15.9014 143.349 15.9114C143.794 15.9137 142.575 16.2883 144.797 16.0645C148.105 15.7307 153.839 15.0999 157.394 14.6227C160 14.2719 156.958 14.2474 160.271 13.989C161.747 13.8751 159.043 14.3917 161.818 14.1604C164.51 13.9354 171.353 13.1933 174.029 12.9135C176.68 12.633 175.201 12.508 175.413 12.4673C176.721 12.224 181.756 11.5878 182.179 11.5483C204.702 9.31006 225.561 8.11396 247.466 6.50033C249.202 6.3739 248.027 6.16744 248.291 6.14523C254.234 5.63812 249.633 6.69265 253.745 6.67965C253.121 6.14443 255.525 6.09205 259.666 5.77452C261.663 5.6215 260.561 5.46684 260.742 5.43299C263.69 4.91661 265.799 5.22903 266.34 5.28595C268.338 5.49555 270.479 4.98667 271.849 5.12762C273.187 5.26856 270.155 5.76021 274.103 5.53385C275.2 5.26868 272.235 4.89988 275.233 4.64732C286.596 3.67357 308.023 3.09965 317.206 2.79404C326.338 2.47676 329.368 2.33903 334.727 2.22593C344.332 2.03686 340.802 1.77167 346.797 1.41472C352.83 1.06505 349.924 2.08464 350.798 2.25979C351.657 2.43556 352.584 2.2026 353.651 2.28287C354.716 2.36316 352.422 2.56363 354.919 2.53508C357.38 2.50535 364.112 1.97757 364.99 1.75038C366.838 1.26633 363.765 0.872881 370.34 0.886917C370.719 0.888151 369.497 1.15777 370.946 1.15018C382.449 1.08207 394.373 0.895107 405.795 0.926168C407.366 0.930806 405.964 1.20996 406.879 1.2156C416.421 1.28156 413.008 0.876105 418.255 0.344047C417.069 1.00519 420.029 1.37276 427.221 1.33503C431.565 1.31504 430.817 1.03793 433.633 0.83005C434.478 0.767455 437.566 0.952123 438.126 0.819816C439.974 0.388413 437.054 -0.0937282 444.555 0.0978742C444.558 0.0979549 444.561 0.0980357 444.565 0.0981166C444.681 0.101386 444.626 0.132511 444.555 0.17211C444.463 0.224199 444.344 0.29097 444.555 0.328158C444.639 0.342897 444.774 0.352989 444.984 0.355708C452.342 0.456058 453.223 0.0123655 461.125 0.000261903C467.258 -0.00983131 478.415 0.357256 485.423 0.493511C485.264 1.18257 491.91 1.10836 494.655 0.681018C499.259 0.771944 504.208 0.833996 508.614 0.986525C510.129 1.03884 509.129 1.21453 509.32 1.2395C512.23 1.62855 514.265 1.22005 515.256 1.22446C526.05 1.29364 534.67 1.85985 544.976 1.85761C545.338 1.8574 545.943 1.42407 548.66 1.84322C548.835 1.87161 545.462 1.96597 550.256 2.13961C554.981 2.31115 564.194 2.87805 570.825 2.94317C572.446 2.95818 576.477 2.77059 579.805 3.19267C580.243 3.24923 579.756 3.35281 580.389 3.44966C582.432 3.75915 583.57 3.37178 585.954 3.85088C588.358 4.33173 593.234 4.82324 600.025 4.90921C600.241 4.91258 601.866 4.65407 603.991 4.76981C607.385 4.95386 612.166 5.28133 615.656 5.47573C617.328 5.56868 616.269 5.30248 616.56 5.31507C628.057 5.85932 635.957 6.53484 648.205 7.45546C650.441 7.62275 656.763 7.80838 661.145 8.35112C665.873 8.94156 660.976 9.50423 671.802 10.1196C676.106 10.3657 681.965 9.67528 689.684 10.9653C705.08 12.1946 719.029 13.8865 734.42 15.4615C735.11 15.532 737.313 15.4923 738.91 15.688C741.292 15.9799 742.513 16.2664 744.287 16.4933C751.613 17.4377 757.924 18.151 764.981 19.1574C767.597 19.533 766.671 19.5355 769.758 19.9866C772.778 20.4315 775.005 20.5833 779.224 21.3162C782.463 21.8816 785.33 22.6824 789.728 23.4466C789.939 23.1414 792.926 23.6325 797.994 24.4371C798.966 24.592 797.947 24.2947 798.408 24.3622C800.226 24.6251 802.112 25.0633 803.93 25.3357C804.377 25.4032 804.418 25.2978 804.784 25.3471C807.94 25.7672 812.667 26.9546 813.648 27.198C816.999 28.0393 818.56 28.2254 821.039 28.8207C823.497 29.4155 819.792 28.6932 822.661 29.3537C828.85 30.7739 836.634 32.6177 842.695 34.2842C845.055 34.9326 843.48 34.3627 843.819 34.4525C849.084 35.8694 853.794 37.4939 856.798 38.2433C859.994 40.0609 859.801 39.0945 866.718 42.0147C867.235 42.2441 867.799 42.7961 865.751 42.0028C863.697 41.2092 860.367 39.8573 857.488 38.9578C856.844 38.7402 852.45 37.6271 852.026 37.528C847.772 36.3711 847.183 35.7371 846.974 35.6419C844.228 34.5421 839.417 33.6014 837.992 33.2691C831.761 31.7872 826.701 30.5668 821.554 29.5368C818.248 28.8831 817.838 29.1509 815.173 28.5995C806.445 26.8318 803.267 25.7498 795.059 24.7678C793.257 24.5592 795.017 25.2445 788.591 23.8718C788.126 23.7747 783.528 22.7403 780.76 22.5053C780.413 22.4757 780.405 22.5953 779.95 22.5358C776.91 22.1392 774.775 21.7248 771.478 21.2957C768.215 20.8725 764.221 20.3881 760.362 19.8305C757.984 19.4868 755.188 18.8877 754.093 18.6885C751.051 18.127 747.672 17.9834 745.748 17.5428C743.807 17.0979 747.693 17.2581 742.546 16.4943C742.321 16.8057 741.855 17.0975 741.517 17.3987C730.488 16.0793 719.506 14.7903 708.217 13.706C706.846 13.5754 708.23 13.9031 706.758 13.7688C700.584 13.208 694.879 12.5465 688.476 12.0498C683.49 11.6635 677.826 11.4128 672.56 11.0586C669.418 10.3734 661.587 9.92688 655.8 9.4811C653.832 9.32826 653.971 9.21816 652.568 9.08108C647.261 8.56916 649.722 9.13986 648.257 9.10336C641.966 8.95687 641.386 8.00258 633.998 7.55973C633.612 7.53467 628.796 7.73826 628.128 7.73199C623.905 7.68727 627.444 7.51786 624.806 7.32723C619.98 6.98156 616.591 6.66997 610.994 6.52289C609.354 6.47957 605.392 6.59595 602.186 6.19121C601.764 6.13795 602.007 5.97956 601.667 5.95281C595.474 5.48313 595.346 6.01934 591.844 6.0437C588.354 6.0697 582.945 5.46461 581.839 5.30931C578.953 4.90608 584.065 5.28198 584.219 5.26186C586.072 5.01321 582.115 4.8974 579.073 4.74424C578.649 4.1863 574.418 4.04467 575.926 4.58884C576.079 4.64744 578.467 4.6942 579.073 4.74424C576.337 5.15982 571.8 5.05303 566.687 4.36252C564.294 4.04029 566.589 3.84372 559.265 3.68459C555.94 3.61522 557.185 4.0389 554.278 4.04719C547.675 4.06922 538.967 3.45659 532.082 3.3388C529.603 3.29708 532.012 3.57223 530.316 3.55176C525.815 3.49974 521.831 3.24717 517.265 3.23624C516.851 3.23567 517.857 3.4839 516.437 3.45814C505.712 3.27194 496.387 2.97975 485.207 2.85442C479.843 2.79202 470.101 2.84963 464.527 2.80258C458.309 2.74659 451.128 2.57943 444.555 2.50315C440.921 2.46075 437.496 2.44565 434.541 2.48904C429.133 2.56934 430.323 2.8115 428.011 2.99343C423.58 3.34658 415.621 2.83609 414.554 2.75643C414.52 2.753 419.19 2.6498 416.697 2.54577C415.245 2.29326 414.607 2.75468 414.554 2.75643C413.845 2.70176 404.554 2.75347 402.726 2.8303C401.728 2.87037 402.29 3.10083 401.77 3.11738C389.289 3.50876 376.93 3.82014 364.269 4.0337C364.048 4.03451 364.375 3.7526 363.854 3.75786C356.595 3.82518 351.906 4.29877 345.881 4.69075C339.852 5.08408 335.182 5.18427 331.556 4.83707C326.981 5.06258 320.464 5.10589 316.74 5.13121C313.015 5.15588 312.526 5.72755 312.188 5.75262C301.787 6.55463 296.072 6.51181 285.268 7.02491C280.163 7.26521 270.236 7.90605 264.675 8.30965C260.334 8.62358 257.728 8.65597 253.784 8.9964C253.25 9.04244 253.806 9.25785 253.644 9.27812C249.216 9.87027 251.301 9.1181 250.373 9.06918C246.982 8.89573 244.883 8.82013 239.216 9.40938C237.893 9.5456 234.224 10.7031 231.781 10.9389C228.637 11.2413 229.798 10.8324 226.524 11.1607C226.245 11.1887 226.315 11.3806 224.3 11.5288C215.064 12.2105 204.703 12.9693 195.116 13.8771C193.774 14.0034 195.522 14.1592 193.587 14.3474C184.564 15.2255 174.735 16.2072 166.036 17.0104C163.91 17.2056 165.216 16.8372 164.749 16.8217C161.933 16.7254 157.781 17.7871 157.139 17.8735C141.368 19.9909 128.849 21.0689 112.785 23.7489C111.864 23.8987 105.242 25.5717 102.182 25.5288C101.964 25.5276 98.8114 25.4799 96.2403 26.3076C96.0825 26.3594 97.9816 26.3236 94.744 26.8509C91.5841 27.3653 86.2996 28.5075 81.8275 29.0459C80.4047 29.2179 77.0898 29.2849 72.8804 30.6096C72.5363 30.7048 66.5599 33.0008 63.9873 32.8805C63.5989 32.8559 63.7585 32.0428 58.91 33.5691C57.9958 33.8625 59.7163 33.6184 57.2999 34.3041C53.6037 35.3568 48.4277 36.4773 43.9302 38.1063C43.1055 38.3984 39.7851 39.8851 37.1007 40.343C36.6638 40.4198 37.4229 39.9178 35.9184 40.3708C29.0187 42.4639 22.0336 45.2255 15.78 48.3523C13.4813 49.5474 14.3918 48.5607 12.1669 49.7804C9.84929 50.9999 5.66072 54.2237 4.67216 56.3642C4.11301 57.4333 4.39436 57.4546 4.5099 57.6167C4.66841 57.7826 4.60741 58.003 4.3004 59.378C4.23918 59.7199 4.21286 60.0505 4.21826 60.3813C4.55187 66.2324 13.7564 71.3241 21.2748 74.774C29.1868 78.3342 37.5136 81.0825 46.2134 83.529C48.7621 84.2328 46.669 83.4399 50.5142 84.4546C64.822 88.3244 90.0486 92.9042 102.782 95.3829C112.749 97.3705 100.051 95.6366 107.73 97.0161C111.456 97.6787 115.737 97.5791 116.676 97.6943C125.392 98.7446 131.792 99.9377 139.716 100.856C141.384 101.048 139.787 100.548 141.208 100.715C146.145 101.29 151.065 102.017 155.706 102.532C157.786 102.762 157.427 102.495 159.35 102.732C164.056 103.306 167.852 103.815 172.333 104.499C172.739 104.56 169.965 104.547 173.354 104.914C178.942 105.516 185.533 106.38 191.921 106.767C193.801 106.879 193.965 106.389 197.943 107.103C198.771 107.251 197.642 107.761 202.333 107.653C203.111 107.637 211.04 107.62 214.935 108.392C215.928 108.594 218.457 109.296 220.703 109.396C221.008 109.408 219.812 109.043 221.67 109.164C228.23 109.596 235.202 110.145 241.898 110.531C243.703 110.634 241.035 110.171 243.726 110.333C251.214 110.787 260.309 111.444 267.607 111.964C270.293 112.156 268.422 112.272 268.616 112.308C271.756 112.895 273.612 112.459 274.639 112.487C281.041 112.663 285.949 113.179 291.959 113.417C293.594 113.482 292.448 113.168 292.774 113.162C296.139 113.109 293.617 113.441 295.741 113.596C301.682 114.033 308.451 114.322 314.527 114.548C316.741 114.63 314.264 114.232 316.253 114.309C328.067 114.757 340.39 115.23 351.999 115.738C354.192 115.834 352.805 116.012 353.261 116.076C356.421 116.523 360.95 116.168 362.016 116.151C366.809 116.072 368.673 116.311 372.933 116.377C393.591 116.7 419.281 117.163 438.776 117.298C440.731 117.312 442.656 117.326 444.555 117.338C467.408 117.477 485.911 117.495 508.386 117.073C509.922 117.044 508.368 116.812 509.691 116.783C526.938 116.422 543.817 116.095 561.033 115.443C562.451 115.389 560.399 115.226 562.673 115.133C567.349 114.939 573.169 114.74 577.883 114.627C580.197 114.571 577.104 114.889 579.432 114.828C584.851 114.684 590.607 114.451 596.068 114.164C598.398 114.04 594.851 113.976 597.915 113.832C618.735 112.839 639.184 111.635 660.143 110.405C661.593 110.32 662.898 110.649 665.948 110.34C666.169 110.206 666.146 110.071 666.237 109.939C696.36 107.622 726.415 104.932 756.408 101.077C757.654 100.916 755.479 101.009 757.887 100.697C772.246 98.8201 785.98 96.7531 800.379 94.3914C801.844 94.1464 801.178 94.5785 805.421 93.7546C806.234 93.6029 812.297 92.4117 814.088 91.9823C814.312 91.9278 813.109 92.03 815.187 91.6114C826.888 89.2451 839.419 86.4031 850.936 82.9857C852.74 82.4467 850.865 83.1573 852.144 82.7735C861.609 79.8678 871.588 76.2056 879.416 71.0691C884.312 67.489 882.755 68.8685 885.075 66.7102C885.2 66.5828 885.927 65.7008 886.452 64.8027C886.987 63.9194 887.307 63.0509 887.398 62.9428C887.848 62.5316 887.468 64.4371 888.024 63.822C888.06 63.8024 888.411 62.9246 888.569 62.0782C888.744 61.2272 888.74 60.3819 888.767 60.3813H888.767C888.778 60.3816 888.829 60.6754 888.782 61.4402C888.776 61.5547 888.666 62.652 888.238 63.8019C887.873 64.8494 887.219 65.962 886.94 66.4082C886.551 67.0251 887.409 66.0312 886.576 67.2514C885.852 68.2842 884.59 69.5197 882.943 70.9499C881.278 72.3165 882.022 72.0722 878.342 74.4485ZM299.831 5.29465C296.364 5.19266 295.901 6.18862 299.625 5.77838C299.806 5.75744 300.01 5.29927 299.831 5.29465ZM719.582 14.3604C715.106 13.6119 711.922 13.706 715.118 14.2452C718.303 14.7832 720.941 14.5873 719.582 14.3604ZM766.334 19.8529C761.096 18.921 760.145 19.6174 765.818 20.2315C766.147 20.2677 766.638 19.9073 766.334 19.8529ZM872.655 75.5874C872.677 75.5797 873.293 75.2775 873.883 74.9718C874.552 74.6273 875.214 74.2645 875.241 74.2467C875.878 73.8169 874.954 74.2975 873.94 74.8221C873.049 75.2848 872.108 75.7781 872.655 75.5874ZM812.347 27.3173C810.801 26.9055 806.142 26.132 808.12 26.6352C809.702 27.0324 814.356 27.839 812.347 27.3173ZM119.376 20.0673C119.318 20.0596 117.358 20.331 117.412 20.4116C117.582 20.6694 120.3 20.1949 119.376 20.0673ZM885.736 54.5C882.075 49.8692 877.809 47.7002 876.537 46.7268C875.128 45.8927 876.506 46.0801 881.789 49.9757C882.666 50.6845 881.724 49.9521 880.723 49.2827C879.722 48.6127 878.7 48.0031 879.993 48.9022C884.016 51.9735 887.912 54.573 888.212 60.2797C888.179 60.7822 888.231 59.3399 887.632 57.7696C887.096 56.2608 885.962 54.7936 885.722 54.4825C885.727 54.4884 885.731 54.4941 885.736 54.5ZM297.787 4.22278C297.716 4.21291 294.949 4.33228 294.885 4.3485C293.402 4.72865 298.975 4.48718 297.787 4.22278ZM6.54328 50.3424C6.50513 50.3652 6.19666 50.604 5.71681 51.0203C5.18812 51.4795 4.54223 52.089 3.97393 52.7079C2.87455 53.8515 1.88905 55.4749 1.87782 55.5578C1.31624 57.2726 2.52573 54.8691 4.15906 53.158C5.88454 51.246 7.82689 49.7092 6.54328 50.3424ZM485.533 0.513373C488.554 0.27953 492.206 0.303108 494.641 0.680455C491.599 0.614933 488.551 0.568915 485.533 0.513373Z' fill='%23CE6A6C'/%3E%3C/svg%3E");
  background-size: 100% 100%;
}

.text-emphasis {
  font-style: italic;
  color: $accent-secondary;
}

.center-text {
  text-align: center;
}