@import "font";
@import "color";
@import "spacing";
@import "home";

$section-min-height: 400px;
$section-max-width: 900px; // If changing, please also update style override on _includes/footer.html to match
$content-min-width: 300px;

$img-divider-height: 240px;
$title-img-height: 280px;

$text-max-width: 760px;
$img-small-max-width: 600px;

$section-padding: $xl4;

$grid-item-min-width: 250px;
$grid-item-small-min-width: 180px;
$card-radius: 16px;

// TITLE
.title-img-wrapper {
  display: flex;
  height: $title-img-height;
  background-size: cover;
  background-repeat: no-repeat;

  svg {
    width: 100%;
    height: $title-img-height;
    position: absolute;
    top: 0;
    mix-blend-mode: soft-light;
    opacity: 0.5;
  }
}

.title-section>.project-section {
  background-color: $surface-1;
  padding-top: $xl3;
}

.title-section>.project-section>.content-wrapper {
  gap: $xl2;
}

.title-wrapper {
  @include flex-col;
  gap: $sm;
}

.stat-block-wrapper {
  @include flex-row;
  border-top: 2px solid $background-secondary;
  // border-bottom: 2px solid $background-secondary;
  align-self: stretch;
  align-items: flex-start;
  gap: $med $xl4;

  .stat-block {
    @include flex-col;
    color: $secondary;
    padding: $xl $none $none;
    gap: $sm;
    max-width: 270px;
  }

  .stat-block-label {
    font-weight: 600;
    color: $accent-primary;
  }

  .stat-block-value {
    font-weight: 400;
  }
}

// BODY
.body-wrapper {
  .project-section:nth-of-type(odd) {
    background-color: $surface-1;
  }
}

.alt-bg-color {
  background-color: $surface-1;
}

.section-min-height {
  min-height: $section-min-height;
}

.project-section {
  @include flex-col;
  gap: $xl3;
  padding: $section-padding;

  .content-wrapper {
    @include flex-col;
    gap: $xl;
    justify-content: center;
    max-width: $section-max-width;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .body-large,
  .body-xl,
  .label-1,
  .label-2,
  p,
  small {
    max-width: $text-max-width;
  }

  ul {
    @include flex-col;
    gap: $sm;
    margin: 0;
  }
}

.section-title-wrapper {
  @include flex-col;
  gap: $sm;
  align-self: stretch;
}

.subsection-row {
  @include flex-row;
  gap: $med $xl3;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
}

.subsection-row-nowrap {
  @include flex-row-nowrap;
  gap: $med;
}

.subsection-col {
  @include flex-col;
  gap: $med;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  min-width: $content-min-width;
}

.subsection-row>.subsection-col {
  flex: 1 0 0;
}

.subsection-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: $lg;
  align-self: stretch;
}

.subsection-grid-small {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: $med;
  align-self: stretch;
}

@media (max-width: ($section-padding*2+$section-max-width)) {
  .subsection-grid {
    grid-template-columns: auto auto;
  }

  .subsection-grid-small {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 700px) {
  .project-section {
    padding: $xl2;
  }

  .subsection-grid {
    grid-template-columns: auto;
  }

  .subsection-grid-small {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 400px) {
  .project-section {
    padding: $xl;
  }
}

// On layouts like 3l and 3r, lets you center the non-partnered content block
.block-center {
  align-self: center;
}

.block-stretch {
  align-self: stretch;
}

.vert-spacing-lg {
  padding-top: $lg;
  padding-bottom: $lg;
}

.content-block {
  @include flex-col;
  min-width: $content-min-width;
  justify-content: center;
  align-items: center;
  gap: $med;
  flex: 1 0 0;

  >* {
    align-self: stretch;
  }
}

.content-group {
  padding-bottom: $xl3;
  gap: $xl $xl4;
}

.grid-item.content-group {
  justify-content: flex-start;
  min-width: $grid-item-min-width;
  padding: $lg;
  gap: $sm;
}

.subsection-grid-small>.grid-item {
  @extend .grid-item, .content-group;
  min-width: $grid-item-small-min-width;
  padding-bottom: $lg;

  p {
    line-height: $line-height-display;
    padding: $sm 0;
  }
}

.card-style {
  background-color: $white-overlay-1;
  box-shadow: 2px 2px 8px -2px $accent-shadow;
  border-radius: $card-radius;

  img {
    border-radius: calc($card-radius / 2);
  }
}

.paragraph-wrapper {
  @include flex-col;
  gap: $med;

  h5 {
    font-weight: 500;
  }
}

// IMAGES
.img-wrapper {
  @include flex-col;
  align-items: center;
  align-self: stretch;
  gap: $lg;
  color: $secondary;

  img {
    align-self: stretch;
    flex: 1 0 0;
    width: 100%;
  }
}

.img-left-wrapper {
  @extend .img-wrapper;
  max-width: $section-max-width;
  width: 100%;
  margin: auto;
  padding: $xl $xl4 $xl 0;
}

// Goes on img parent to make img go full width, creates decorative transition between sections
.img-section-divider {
  @extend .img-wrapper;

  img {
    height: $img-divider-height; // Default height, override with inline CSS to customize
    align-self: stretch;
    flex: 1 0 0;
    object-fit: cover;
    width: 100%;
  }
}

.img-standalone {
  @extend .img-wrapper;
  max-width: $section-max-width;
  width: 100%;
  margin: auto;
  padding: $xl 0;
}

.img-small {
  img {
    max-width: $img-small-max-width;
  }
}

#Table-of-contents {
  align-items: center;
  flex-direction: row;

  .horizontal-line {
    border-bottom: 3px solid $accent-primary;
    flex-grow: 1;
    height: 30px;
  }

  .content-wrapper {
    @include flex-row-nowrap;
    gap: 0;
    align-items: flex-start;
    max-width: $section-max-width;
    flex-grow: 1;
  }

  .section-link-wrapper {
    @include flex-col;
    justify-content: center;
    color: $accent-primary;
    gap: $med;
    align-items: center;
    width: 60px;
    text-transform: capitalize;
    text-align: center;
  }

  .icon-wrapper {
    align-self: center;
    padding: $med $med (
      $sm - 2px) $med;
    border-radius: 12px;
    background-color: $surface-1;
    text-transform: uppercase;
    border: 3px solid $accent-primary;

    svg>path {
      stroke: $accent-secondary;
    }
  }
}

.type-test-row {
  @include flex-row-nowrap;
  gap: $xl2;
  align-self: stretch;
  padding-bottom: $xl;

  > :nth-child(odd) {
    min-width: 140px;
  }
}