@import "font";
@import "color";
@import "spacing";

$paragraph-width: 650px;

// $title-img-height: 280px;

// Plain Demo --------------------------------------
.paragraph-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1em;
  width: $paragraph-width;
  padding: $xl2;

  .stat-block-wrapper {
    @include flex-row;
    gap: $xl $xl3;
    padding: $sm 0;

    .stat-block {
      display: flex;
      flex-direction: column;
      color: $secondary;
      gap: $xs;
      flex: 1 0 0;
      min-width: 140px;
      max-width: 250px;
    }
  }

  p,
  ul,
  ol {
    font-weight: 350;
    margin: 0;
  }

  ul,
  ol {
    padding-left: 1.5em;

    li {
      margin-bottom: $med;
    }
  }

  hr {
    width: 100%;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    margin: $med 0;
    gap: $med;

    .label-1 {
      text-align: center;
      font-style: italic;
      color: $secondary;
    }
  }

  .img-smaller {
    align-items: center;

    img {
      width: 80%;
    }
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
  }

  @media (max-width: 750px) {
    width: unset;
  }
}

.theme-green {
  background-color: $green-background-default;

  .text-accent-primary {
    color: $green-accent;
  }

  .text-accent-secondary {
    color: $green-accent-secondary;
  }

  .text-link {
    color: $green-accent;
  }

  footer {
    background-color: $green-background-secondary;

    .contact-wrapper path {
      fill: $green-accent;
    }
  }

  hr {
    border-color: $green-accent-secondary;
  }
}

.theme-yellow {
  background-color: $yellow-background-default;

  .text-accent-primary {
    color: $yellow-accent;
  }

  .text-accent-secondary {
    color: $yellow-accent-secondary;
  }

  .text-link {
    color: $yellow-accent;
  }

  footer {
    background-color: $yellow-background-secondary;

    .contact-wrapper path {
      fill: $yellow-accent;
    }
  }

  hr {
    border-color: $yellow-accent-secondary;
  }
}

.theme-darkblue{
  background-color: $darkblue-background-default;

  .text-accent-primary {
    color: $darkblue-accent;
  }

  .text-accent-secondary {
    color: $darkblue-accent-secondary;
  }

  .text-link {
    color: $darkblue-accent;
  }

  footer {
    background-color: $darkblue-background-secondary;

    .contact-wrapper path {
      fill: $darkblue-accent;
    }
  }

  hr {
    border-color: $darkblue-accent-secondary;
  }
}

.next-container {
  position: relative;
}

.next-project {
  @include flex-row-nowrap;
  margin-top: $xl3;
  gap: $xl;
  background-color: $surface-1;
  padding: $xl;
  border-radius: $sm;
  align-items: center;
  box-shadow: 2px 2px 12px -4px $accent-shadow;

  .next-proj-wrapper {
    @include flex-col;
    flex: 1 0 0;
    gap: $med;
  }

  .text-wrapper {
    @include flex-col;
    gap: 0px;
  }

  .next-proj-img {
    height: 100px;
    border-radius: $xs;
  }

  a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &:hover {
    background-color: mix($surface-1, white, 70%);
  }
}