@import "font";
@import "color";
@import "spacing";

$paragraph-width: 650px;

// $title-img-height: 280px;

// Plain Demo --------------------------------------
.paragraph-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1em;
  width: $paragraph-width;
  padding: $xl2;

  .stat-block-wrapper {
    @include flex-row;
    gap: $xl $xl3;
    padding: $sm 0;

    .stat-block {
      display: flex;
      flex-direction: column;
      color: $secondary;
      gap: $xs;
      flex: 1 0 0;
      min-width: 140px;
      max-width: 250px;
    }
  }

  p,
  ul,
  ol {
    font-weight: 350;
    margin: 0;
  }

  ul,
  ol {
    padding-left: 1.5em;

    li {
      margin-bottom: $med;
    }
  }

  hr {
    width: 100%;
  }

  .img-container {
    display: flex;
    flex-direction: column;
    margin: $med 0;
    gap: $med;

    .label-1 {
      text-align: center;
      font-style: italic;
      color: $secondary;
    }
  }

  .img-smaller {
    align-items: center;

    img {
      width: 80%;
    }
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
  }

  @media (max-width: 750px) {
    width: unset;
  }
}

.theme-green {
  background-color: $green-background-default;

  .text-accent-primary {
    color: $green-accent;
  }

  .text-accent-secondary {
    color: $green-accent-secondary;
  }

  .text-link {
    color: $green-accent;
  }

  footer {
    background-color: $green-background-secondary;

    .contact-wrapper path {
      fill: $green-accent;
    }
  }

  hr {
    border-color: $green-accent-secondary;
  }
}

.theme-brown {
  background-color: $brown-background-default;

  .text-accent-primary {
    color: $brown-accent;
  }

  .text-accent-secondary {
    color: $brown-accent-secondary;
  }

  .text-link {
    color: $brown-accent;
  }

  footer {
    background-color: $brown-background-secondary;

    .contact-wrapper path {
      fill: $brown-accent;
    }
  }

  hr {
    border-color: $brown-accent-secondary;
  }
}