// Padding & spacing
$none: 0px;
$tiny: 2px;
$xs: 4px;
$sm: 8px;
$med: 12px;
$lg: 16px;
$xl: 24px;
$xl2: 32px;
$xl3: 48px;
$xl4: 64px;
$xl5: 96px;
$xl6: 160px;

:root {
  --none: #{$none};
  --tiny: #{$tiny};
  --xs: #{$xs};
  --sm: #{$sm};
  --med: #{$med};
  --lg: #{$lg};
  --xl: #{$xl};
  --xl2: #{$xl2};
  --xl3: #{$xl3};
  --xl4: #{$xl4};
  --xl5: #{$xl5};
  --xl6: #{$xl6};
}
