<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="shortcut icon" href="../assets/images/nest_hover3_iw8_icon.ico"
        type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Roboto&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">

    <script src="../assets/js/jquery-3.3.1.min.js" defer></script>
    <script src="../assets/js/keydrown.js" defer></script>
    <script src="../assets/js/game.js" defer></script>
    <script src="../assets/js/movebird.js" defer></script>
</head>

<body>
    <div class="header">
        <img class="" src="../assets/images/starbird/title.png" alt="StarBird title"
            media="(max-width:200px)">
    </div>

    {{ content }}

</body>

</html>